
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#particles-js {
background: black;
height: 100Vh;
width: 100%;
position: relative;
}

